.btnWrapper {
  display: flex;
  gap: 20px;
  .btn-pagination {
      width: 35px;
      height: 35px;
      background-color:  #fe5f1e;
      border-radius: 20%;
      border: none;
      color: white;
      cursor: pointer;

    &:hover {
      background-color:  white;
      color:  #fe5f1e;
      border: 2px solid  #fe5f1e;
    }

    .selected {
      background-color:  white;
      color:  #fe5f1e;
      border: 2px solid  #fe5f1e;
    }

  }
}