.input__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  img {
    position: absolute;
    padding-left: 20px;

  }

  .closeImg {
    position: absolute;
    top: 5px;
    right: 9px;
    cursor: pointer;
  }

  .searchInput{
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    font-size: 16px;
    padding: 12px 20px 12px 42px;
    width: 400px;

  }

  @media screen and (max-width: 520px){
    width: 80%
  }


}